{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="col">
            <h3>Edit Existing Record</h3>
            <form action="" method="post" class="form-control">
                {% csrf_token %}
                <label for="student_id">Student_Id:</label>
                <input type="text" name="student_id" class="form-control" placeholder="Enter the student id." value="{{student.student_id}}"/>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" placeholder="Enter First name" value="{{student.first_name}}"/>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" placeholder="Enter Last name" value="{{student.last_name}}"/>
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" placeholder="Enter first name" value="{{student.email}}"/>
                <label for="date_of_Birth">Birth Date:</label>
                <input type="date" name="date_of_Birth" class="form-control" placeholder="Enter student Birth date" value="{{student.date_of_Birth}}"/>
                <label for="address">Address</label>
                <input type="text" name="address" class="form-control" placeholder="Enter your Address" value="{{student.address}}"/>
                <label for="phone">Phone Number</label>
                <input type="number" name="phone" class="form-control" placeholder="Enter student's phone number" value="{{student.phone}}"/>
                <button type="submit" class="mt-3">Submit</button>
            </form>
        </div>
    </div>



{% endblock content %}